**/tmp/**
**/__pycache__/**
wandb/**
*.so*
.cache/**/*

data/models
data/MMWHS
data/MMWHS_notest
data/MMWHS2
data/MNIST

nnunetV2_results
nnunetV2_preprocessed
out
tmp-exp1
tmp-exp2
!data/MMWHS/mmwhs_io_normalisation_values.pth
*.nii.gz
*.pth
*.pt
*.png

**/.ipynb_checkpoints/**
**/.DS_Store
**/._.DS_Store